<html>
<head> 
     <style>
      img { 
          width: 80%;
      }
     </style>
     <link rel='stylesheet' type='text/css' href='assets/css/style.css'/>
     <meta charset='utf-8'> 
     <meta name='viewport' content='width=device-width, initial-scale=1.0'> 
     <title>{{ title or metadata.title }}</title> 
     <meta name='description' content='{{ description or metadata.description }}'> 
  </head>
  <body>
  {{ content | safe }}
  </body>
</html>